{% extends 'base.html' %}

{% block header %}
<h1>{% block title %}New AI{% endblock %}</h1>
{% endblock %}

{% block content %}
<form method="post" enctype=multipart/form-data>
    <label for="ai_name">AI Name</label>
    <input name="ai_name" id="ai_name" type="text" value="{{ request.form['ai_name'] }}" required>
    <label for="surcharge">Surcharge (IOTA)</label>
    <input type="number" name="surcharge" value="{{ request.form['surcharge'] }}">
    <label for="genre">Genre</label>
    <select name="genre" class="selectpicker">
        {% for genre in genres %}
        <option value="{{ genre.id }}">{{ genre.genre_name }}</option>
        {% endfor %}
    </select>
    <input type=file name=ai_code>
    <input type="submit" value="Save">
</form>
{% endblock %}